<article class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div class="locationName">
          Name: {{location.name}}
        </div>
      </div>
      <div class="col-md-4">
        <div class="locationAddress">
          Address: {{location.address}}
        </div>
      </div>
      <div class="col-md-4">
        <div class="locationWorkTime">
          Work Time: {{location.workTime}}
        </div>
      </div>
    </div>
    <div class="phoneNumber">
        <section>
          Phone Number: {{location.phoneNumber}}
        </section>
    </div>
    <div class="locationMenu">
      <section>
        <h4>Menu:</h4>
        <ul>
          <!-- <li ng-repeat="good in "> -->
          <li>
            {{location.goods}}
          </li>
        </ul>
      </section>
    </div>
  </div>
  <footer class="panel-footer">
    <div class="poster">
      Posted by: {{location.username}}
    </div>
    <div class="config">
      <a (click)="onEdit()">Edit</a>
      <a (click)="onDelete()">Delete</a>
    </div>
  </footer>
</article>
