<article class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="locationName">
          <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['details', location.locationId]">{{location.name}}</a>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="locationComment">
          <div class="placeholder">
            <header>
              Placeholder Comment
            </header>
          </div>
      </div>
    </div>
  </div>
  <footer class="panel-footer">
    <div class="poster">
      Posted by: {{location.username}}
    </div>
    <div class="config">
      <a (click)="onEdit()">Edit</a>
      <a (click)="onDelete()">Delete</a>
    </div>
  </footer>
</article>
